<link rel="stylesheet" href="form.css">
<div class="container-formulario">
    <form action="/nueva-tarea" method="POST" class="formulario">
        <h1>Formulario</h1>
        <div class="inner-form">
            <div class="dos-columnas">
                <div class="form-group">
                    <label for="nombre-form" class="nombre-form">Nombre</label>
                    <input type="text" class="nombre-input-form" id="nombre-form">
                </div>
                <div class="form-group">
                    <label for="apellido-form" class="apellido-form">Apellido</label>
                    <input type="text" class="apellido-input-form" id="apellido-form">
                </div>
                <div class="form-group">
                    <label for="direccion-form" class="direccion-form">Direccion</label>
                    <input type="text" class="direccion-input-form" id="direccion-form">
                </div>
                <div class="form-group">
                    <label for="correo-form" class="correo-form">Correo Electrónico</label>
                    <input type="text" class="correo-input-form" id="correo-form">
                </div>
                <div class="form-group">
                    <label for="tel-form" class="tel-form">Teléfono</label>
                    <input type="text" class="tel-input-form" id="tel-form">
                </div>
                <div class="form-group">
                    <label for="ciudad-form" class="ciudad-form">Ciudad</label>
                    <input type="text" class="ciudad-input-form" id="ciudad-form">
                </div>
                <div class="form-group">
                    <label for="pais-form" class="pais-form">País</label>
                    <input type="text" class="pais-input-form" id="pais-form">
                </div>
                <div class="form-group">
                    <label for="postal-form" class="postal-form">Código Postal</label>
                    <input type="text" class="postal-input-form" id="postal-form">
                </div>
                <div class="form-group">
                    <label for="satisfaccion-form" class="satisfaccion-form">Grado de Satisfacción</label>
                    <input type="text" class="postal-input-form" id="postal-form">
                </div><div class="form-group">
                    <label for="vorveras-form" class="volveras-form">¿Volverás?</label>
                    <input type="text" class="volveras-input-form" id="volveras-form">
                </div>
            </div>
        </div>
        <button>Send It</button>
    </form>
</div>